DEBUG=True
DJANGO_SECRET_KEY=replace-with-random-secret
ALLOWED_HOSTS=127.0.0.1,localhost

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_SUCCESS_URL=http://127.0.0.1:8000/?paid=success
STRIPE_CANCEL_URL=http://127.0.0.1:8000/?paid=cancel
